@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="font-size:150% ;color:white;background-color:blueviolet">
        Welcome to the Event Ease booking application. <br />
        This App is for employees use only!!<br />
        Go to privacy policy page for information in privacy policy
    </p>

</div>
