@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p style="font-size:150% ;color:white;background-color:blueviolet">
    Our bussiness is a trusted and well branded booking service.<br />
    Please ensure that you server all customers with respect <br />
</p>
